/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy';
}

html, body {
  height: 100%;
  width: 100%;
}


.dashboard {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 50px 1fr 50px;
    height: 100vh;
}
.sidebar {
    background-color: red;
    grid-row: 1/3;
    grid-column: 1/2;
}
.navbar {
    background-color: aqua;
    grid-row: 1/2;
    grid-column: 1/3;
}
.content {
    background-color: blue;
    grid-row: 2/2;
    grid-column: 2/3;
    /* height: 100vh; */
}
.footer {
    background-color: blueviolet;
    grid-row: 3/3;
    grid-column: 1/3;
}