/* .container {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 150px 150px;
  gap: 10px;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

div {
    border: 1px solid black;
} */

.dashboard {
  display: grid;

  /* Define Rows */
  grid-template-rows: 60px 1fr 50px;

  /* Define Columns */
  grid-template-columns: 250px 1fr;

  height: 100vh;
}

/* Layout Placement */

.sidebar {
  grid-row: 1 / 4;       /* Sidebar full height lega */
  grid-column: 1 / 2;
  background: #222;
  color: white;
  padding: 20px;
}

.navbar {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  background: #444;
  color: white;
  padding: 15px;
}

.content {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  background: #f1f1f1;
  padding: 20px;
}

.footer {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  background: #ddd;
  padding: 15px;
}
